* {
  box-sizing: border-box;
}

body{
  margin:20px;
}

p{
  font-family: 'Noto Serif SC', serif;
}

h3{
  font-family: 'Noto Serif SC', serif;
}

.leader{
  display:block;
  /* height:30px; */
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color: white;
  z-index:99;
  border-bottom:1px rgb(218, 218, 218) solid;
}

/* .content{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.about{
  position:absolute;
  right:10px;
  top:16px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  text-decoration: none;
  color:black;
}

.about:hover{
  color:rgb(255, 75, 27);
}

.center_page{
  display:block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color:black;
}

.center_page:hover{
  color:rgb(255, 75, 27);
}

.flawer{
  position:absolute;
  /* left:20px; */
  left:10px;
  top:16px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  text-decoration: none;
  color:black;
}

.flawer:hover{
  color:rgb(255, 75, 27);
}

.titlelogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}

.container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  width:50%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

.big{
  font-weight: 500;
  font-size: 1.26rem;
}
.text{
  font-size: 0.8rem;
  font-style:italic;
  font-family: 'Lora', serif;
  font-weight: 500;
}

.code{
  width:40%;
}

.english{
  font-family: 'Lora', serif;
  font-size: 1.16rem;
  color:rgb(68, 68, 68);
}

.chinese{
  font-size: 1.1rem;
  font-weight: 400;
}

.link{
  text-decoration:underline;
  color:black;
}

@media screen and (max-width: 700px) {
  .container {
    width: 50%;
  }
  .titlelogo{
  width:100%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

a{
  text-decoration: none;
  font-weight: 400;
  color: black;
}
