* {
  box-sizing: border-box;
}

body{
  margin:20px;
}

p{
  font-family: 'Noto Serif SC', serif;
}

h3{
  font-family: 'Noto Serif SC', serif;
}

a{
  text-decoration: none;
  color:black;
}

.leader{
  display:block;
  /* height:30px; */
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color: white;
  z-index:99;
  border-bottom:1px rgb(218, 218, 218) solid;
}

.about{
  position:absolute;
  right:10px;
  top:16px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  text-decoration: none;
  color:black;
}

.about:hover{
  color:rgb(255, 75, 27);
}

.center_page{
  display:block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color:black;
}

.center_page:hover{
  color:rgb(255, 75, 27);
}

.flawer{
  position:absolute;
  /* left:20px; */
  left:10px;
  top:16px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  text-decoration: none;
  color:black;
}

.flawer:hover{
  color:rgb(255, 75, 27);
}

.titlelogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  width:40%;
}



.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height:auto;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  .titlelogo{
  width:100%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
